* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:lightblue;
  padding: 15px 20px;
  color: black;
  border: 2px solid #444;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.navbar-menu li {
  display: inline;
}

.navbar-menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar-menu a:hover {
  color: purple;
}
.aside {
  width: 250px;
  background-color: lightblue;
  color: white;
  padding: 20px;
  position: absolute; 
  top: 100px; 
  left: 0;
  height: 570px;
  min-height: 300px; 
  border: 2px solid #444;
  

}



.boxs-container {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  height: 90vh;

 
}
.box {
  background-color: lightblue;
  border: 2px solid black;
  min-height: 150px; 
}
  
.box1 {
  grid-column: span 6 / span 6;
  grid-column-start: 3;
  grid-row-start: 1;
}

.box2 {
  grid-column: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 2;
}

.box3 {
  grid-column: span 3 / span 3;
  grid-column-start: 6;
  grid-row-start: 2;
}

.box4 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 3;
}

.box5 {
  grid-column: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 3;
}

.box6 {
  grid-column: span 2 / span 2;
  grid-column-start: 7;
  grid-row-start: 3;
}


